.testimonial-box {
 font-size: 2.6rem;
 line-height: 3rem;
 margin: 0 8rem 5rem 8rem;

 @media only screen and (max-width: $bp-medium) {
  margin: 0 5rem 10rem 5rem;
 }

 &__comment {
  font-family: Playball;
  color: #5f4444;
  margin-bottom: 3rem;
  text-align: center;
  height: 35rem;
  display: flex;
  align-items: center;
 }

 &__name {
  font-weight: bold;
  margin-bottom: 3rem;
 }
}
